# Development (Docker local)
DATABASE_URL="postgresql://admin:password123@localhost:5433/photokey_db"

# Production (Remote DB)
# DATABASE_URL="postgresql://adminuser:changeme@10.172.122.53:5432/photokey_db"
