# Development (Docker local)
DB_USER=admin
DB_PASSWORD=password123
DB_HOST=localhost
DB_PORT=5433
DB_NAME=photokey_db

# Production (Remote DB)
# DB_USER=adminuser
# DB_PASSWORD=changeme
# DB_HOST=10.172.122.53
# DB_PORT=5432
# DB_NAME=photokey_db
